body{
  margin: 0;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 50px 3fr 3fr 1fr;
  grid-row-gap: 3px;
  grid-column-gap: 1px;
  width: 100%;
  height: 100%;
  color: white;
}
.my-title{
  grid-column: 1;
  grid-column-end: 4;
  background: #000000;
  grid-row: 1;
  text-align: center;
  margin: 0;
}

.bib {
  grid-column: 2;
  grid-row: 2;
  align-content: center;
  text-align: center;
  background: #B82601;
  opacity: .75;
}

.bib-grid{
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  grid-template-rows: 1fr 6fr;  
}

.bib-linked{
  grid-column: 1;
  grid-row: 1;
  text-align: right;
}
.bib-git{
  grid-column: 3;
  grid-row: 1;
  text-align: left;
}
.bib-header{
  grid-column: 2;
  grid-row: 1;
}

.bib-text{
  grid-column: 1;
  grid-column-end: 4;
  font-size: 36px;
}

.v-grid{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 2fr;
}
.v-header{
  grid-row: 1;
  grid-column: 2;
  text-align: left;
}
.v-image{
  grid-row: 1;
  grid-column: 1;
  text-align: left;
}
.v-content{
  grid-row: 2;
  grid-column: span 2;
  font-size: 25px;
}

.g-grid{
  display: grid;
  grid-template-rows: 1fr 4fr;
}
.g-header{
  grid-row: 1;
  text-align: left;
}
.g-content{
  grid-row: 2;
  font-size: 25px;
}


.right-side {
  grid-column: 3;
  grid-row: 2;
  grid-row-end: 8;
  background: #062F4F;
  opacity: .4;
}
.left-side {
  grid-column: 1;
  grid-row: 2;
  grid-row-end: 8;
  align-content: center;
  text-align: center;
  background: #062F4F;
  opacity: .4;
}
.item-5 {
  grid-column: 2;
  grid-row: 3;
  background: #813772;
  opacity: .75;
}
.item-8 {
  grid-column: 2;
  grid-row: 4;
  background: #062F4F;
  opacity: .75;
}

